body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
.btn {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.btn:active {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}
.map-btn {
    background-color: #F1B0B1;
}
.map-btn:hover {
    background-color: #cf8789;
}
.meal-btn {
    background-color: #91CCE2;
}
.meal-btn:hover {
    background-color: #84B4C6;
}